

<h1>Participants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @combatants.each do |combatant| %>
      <tr>
        <td><%= combatant.user.name %></td>
        
        <td><%= link_to 'Show', combatant_path(id:combatant.id), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_combatant_path(id:combatant.id), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', combatant_path(id:combatant.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Combatant', new_tournament_combatant_path(tournament_id:@tournament.id), class: 'btn btn-primary' %>
