<div class='container'>
  <div class='row'>

    <div class='col-md-6'>
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Round:</strong>
        <%= @match.round.number %>
      </p>

      <%= link_to 'Edit', edit_match_path(id:@match.id), class: 'btn btn-primary'  %> |
      <%= link_to 'Back', round_path(id:@match.round.id), class: 'btn btn-primary'  %>
    </div>

      <div class='col-md-6'>
        <%= render :partial => 'points/index' %>
      </div>
  </div>
</div>

