<hr>
<div class='container'>
  <div class='row'>

    <div class='col-md-6'>
      
        <%= render :partial => 'tournaments/info' %>
      
        <p>
        <strong>Round Info:</strong>
        <%= @round.number %>
      </p>
      <%= link_to 'Edit', edit_round_path(id:@round.id), class: 'btn btn-primary'  %> |
      <%= link_to 'Back', tournament_path(params[:id]), class: 'btn btn-primary'  %>
    </div>

    <div class='col-md-6'>
      <%= render :partial => 'matches/index' %>
    </div>

  </div>
</div>





