<%= form_with(model: @point, url: (@point.new_record? ? match_points_path(match_id:@match.id): point_path(id:@point.id)), local: true) do |form| %>
  <% if point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(point.errors.count, "error") %> prohibited this point from being saved:</h2>

      <ul>
      <% point.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :contender_id %>
    <%= form.select :contender_id, @combatants %>
  </div>

  <div class="field">
    <%= form.label :challenger_id %>
    <%= form.select :challenger_id, @combatants %>
  </div>

  <div class="field">
    <%= form.label :contender_score %>
    <%= form.number_field :contender_score %>
  </div>

  <div class="field">
    <%= form.label :challenger_score %>
    <%= form.number_field :challenger_score %>
  </div>

  <div class="field">
    <%= form.label :match_id %>
    <%= form.text_field :match_id %>
  </div>

  <div class="actions">
  <%= form.submit ( form.object.new_record? ? "Create" : "Update"), class: 'btn btn-primary'%>  
  </div>
<% end %>
