

<h1>Points</h1>

<table>
  <thead>
    <tr>
      <th>Contender</th>
      <th>Challenger</th>
      <th>Contender score</th>
      <th>Challenger score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @points.each do |point| %>
      <tr>
        <td><%= point.contender.user.name %></td>
        <td><%= point.challenger.user.name %></td>
        <td><%= point.contender_score %></td>
        <td><%= point.challenger_score %></td>
        <td><%= link_to 'Show', point_path(id:point.id) , class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_point_path(id:point.id) , class: 'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', point_path(id:point.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Point', new_match_point_path(match_id:@match.id) , class: 'btn btn-primary' %>
